body {
    background-color: #343a40;
}

.tabla {
 
    box-shadow: 6px 6px 6px black;
    background: white;
    border-radius: 20px;
    
}
 .btn {
     margin-top: 5px;
     margin-bottom: 20px;
 }

 #formedit {
     color:white;
     width: 50%;
     margin: auto;
     border: 1px solid #333;
     padding: 10px 30px;
     border-radius: 20px;
     box-shadow: 5px 5px 5px black;
     background: #555;
 }